<hands-on-master-page>
    <div ngProjectAs="header">
        <h1>Events Logger</h1>
    </div>

    <div ngProjectAs="body" class="flex justify-content-center">
        <h1>link</h1>
        <ul>
            <li>
                <button routerLink="/project">Project</button>
            </li>
        </ul>
    </div>
    <div ngProjectAs="footer" class="flex justify-content-center">
        <h1>Footer Content</h1>
    </div>
    <router-outlet ngProjectAs="main" class="w-full"></router-outlet>
</hands-on-master-page>
